.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cells{
  height: 100px;
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cellBorder{
  border :6px solid #bbada0;

}
.two{
  background-color:#eee4da;
  color: #776e65;
}
.four{
  background-color: #ede0c8;
  color: #776e65;
}
.eight{
  background-color: #f2b179;
  color: #f9f6f2;
}
.sixteen{
  background-color: #f2b179;
  color: #f9f6f2;
}
.thirtyTwo{
  background-color: #f67c5f;
  color: #f9f6f2;

}
.sixtyFour{
  color: #f9f6f2;
  background-color: #f65e3b;
}
.onetwentyeight{
  background-color: #edcf72;
  color: #f9f6f2;
}